.jobList {
	text-decoration: none;
	margin-top: 50px;
	padding-top: 4em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	align-items: center;
}

.jobList p {
	color: #34b6b4;
	text-decoration: none;
}
.singleJob {
	padding-left: 1.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	/* box-shadow: 1px 5px 5px 4px #f3f3f3;
	border-radius: 5px; */
	width: 60vw;
	border-left: 3px solid #f7aa63;
	padding-left: 10px;
}
.singleJob h3 {
	margin-bottom: 0.1em;
}

@media only screen and (max-width: 600px) {
	.jobList .singleJob {
		width: 90vw;
	}
}
