.row {
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	position: relative;
	width: 100%;
	padding: 25px;
}
.row .left {
	padding-left: 20px;
	padding-right: 20px;
}

.row .left h1 {
	color: #ff0157;
}
