.form-container {
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	padding: 70px;
	justify-content: center;
	align-items: center;
}

.form {
	display: flex;
	flex-direction: column;
	width: 55%;
	font-family: Poppins;
}
.form span {
	color: mediumvioletred;
}
.form input {
	height: 2.9em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding: 15px;
	font-family: Poppins;
}

.form h2 {
	color: #34b6b4;
}
#submit {
	background-color: #34b6b4;
	color: white;
	border: none;
}
.login {
	display: flex;
	justify-content: center;
}
.login i {
	margin-right: 0.5em;
	color: #230a38;
}
.form-signup {
	display: flex;
	justify-content: center;
}
.form-signup i {
	margin-right: 0.5em;
	color: #230a38;
}
.form textarea {
	resize: none;
	padding: 15px 15px;
	font-family: Poppins;
	border-radius: 5px;
	border: 1px solid #cccccc;
	overflow: hidden;
}
.form Link {
	text-decoration: none;
}
@media only screen and (max-width: 600px) {
	.form {
		width: 100%;
	}
	.form input {
		margin-top: 1.5em;
		margin-bottom: 1.5em;
	}
}
