.content {
	margin-top: 65px;
	width: 100%;
	min-height: 60vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: #230a38;
	backdrop-filter: blur(10px);
	color: #f8f3fc;
	padding: 1em;
	text-align: center;
}

h3 {
	margin-bottom: 1.5em;
	margin-top: 1em;
}

.btn {
	font-size: 1em;
	color: #fff;
	background: #fd9432;
	display: inline-block;
	padding: 10px 20px;
	margin-top: 25px;
	text-decoration: none;
	letter-spacing: 2px;
	transition: 0.5s;
	border: none;
	border-radius: 4px;
	outline: none;
}

.content input[type='text'] {
	width: 31em;
	outline: none;
	padding: 8px;
	height: 2.8em;
	margin: 0.25em;
	border: none;
	font-size: 1em;
}
.btn:hover {
	letter-spacing: 6px;
}
@media only screen and (max-width: 600px) {
	.content input[type='text'] {
		width: 90%;
		outline: none;
		padding: 8px;
		height: 2.8em;
		margin: 1.25em;
		border: none;
		font-size: 1em;
	}
}
